/* Estilo geral */
body {
  background-color: #e0f7f7;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  background-color: #87d4d4 !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link.active {
    color: #007bff !important;
}

.navbar .nav-link {
  color: #333 !important;
  margin-right: 10px;
  transition: color 0.3s;
}

.navbar .nav-link:hover {
  color: #007bff !important;
}

/* Seção de boas-vindas */
.secao-bem-vindo {
  text-align: center;
  padding: 30px 15px;
}

.secao-bem-vindo h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.secao-bem-vindo p {
  font-size: 1.1rem;
  color: #555;
}

/* Lista de produtos */
.lista-produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 20px;
}

.produto {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  width: 220px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.produto img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  border-radius: 8px;
  display: block;
  margin: 0 auto 10px;
}

.produto h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.produto p {
  font-weight: bold;
  margin-bottom: 10px;
}

#desconto{
  text-decoration: line-through;
}

.botao {
  background-color: #28a745;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.botao:hover {
  background-color: #218838;
}

.produto:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.modal-header,
.modal-footer {
  background-color: #87d4d4;
  color: white;
}

.modal-body {
  background-color: #f9f9f9;
}

.modal-footer .btn-primary {
  background-color: #28a745;
  border: none;
}

.modal-footer .btn-primary:hover {
  background-color: #218838;
}

.modal-footer .btn-secondary {
  background-color: #dc3545;
  border: none;
}

.modal-footer .btn-secondary:hover {
  background-color: #b02a37;
}

footer {
  text-align: center;
  padding: 15px 0;
  background-color: #87d4d4;
  color: white;
  margin-top: 40px;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .lista-produtos {
    gap: 20px;
  }

  .produto {
    width: 180px;
  }

  .produto img {
    width: 150px;
    height: 150px;
  }
}