*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    color: #000000;
}

footer {
    width: 120px;
    margin-top: 10px;
    float: left;
}